<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Projeto Acadmy</title>
<meta name="author" content="Gleriston Santana">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="http://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=work+Sans&display=swap" rel="stylesheet"></link>
</head>
<body>

 <!-- Cabeçalho -->
      <header th:fragment="cabecalho">
       <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0">
         <a class="navbar-brand" th:href="@{/}">
           <img src="/img/logo_header-site.png" width="150px"/>
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
              <span class="navbar-toggler-icon"></span>
         </button>
         
         <div id="navMobile" class="navbar-collapse collapse justify-content-end">
              <a class="btn-nav nav-item nav-link"><i class="fas fa-home"></i> Home</a>
              <a class="btn-nav nav-item nav-link" th:href="@{inserirAlunos}"><i class="fas fa-user-graduate"></i> Cadastrar Alunos</a>
              <a data-toggle="modal" data-target="#modalPesquisa" class="btn-nav nav-item nav-link"><i class="fas fa-search"></i> Pesquisar Alunos</a>
              <form action="/logout" method="post">
              <button type="submit" class="btn-nav nav-item nav-link btn-danger"><i class="fas fa-times"></i> Sair</button>
              </form>
         </div>
         </nav>
      </header>

  <!-- Footer -->
	  <footer th:fragment="rodape">
        <div class="rodape">
           <span>Todos os Direitos Reservados - 2020 &copy: Gleriston Santana</span>
        </div>
      </footer>
      <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
      
</body>
</html>